node_modules
dist
dist-ssr
.git
.gitignore
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
backend
backend_logs.txt
frontend_logs.txt
b.txt
f.txt
__pycache__
*.pyc
*.pyo
*.db
*.sqlite3
.env
.env.*
README.md
